<!doctype html>
<html ng-app="myApp">

    <head>
        <title> Angular - filter examples</title>
        <style>
			body {
			    font-family: "Segoe UI",Arial,sans-serif;
			}
			.odd{
				background-color: #fff;
			}
			.even{
				background-color: #ececec;
			}
			table{
				border-collapse: collapse;
				word-spacing: 5px;
				border: 1px solid #000;
			}
        </style>
    </head>
    <body ng-controller="myCtrl">
        <div>
	      <h1>Filter</h1>

	      <h2><i>in-built filter</i></h2>
	      <input type="text" name="txtsearch" ng-model="searchtxt" placeholder="Search any column">
	      <table border="1" style="margin: 10px">
	      	<tr style="background-color: #ccc">
	      		<th> Sr#</th>
	      		<th> Name</th>
	      		<th> Age</th>
	      		<th> Organization</th>
	      	</tr>
	      	<tr ng-repeat="rec in records | filter:searchtxt" ng-class-odd="odd" ng-class-even="even">
	      		<td ng-bind="$index +1"> </td>
	      		<td ng-bind="rec.name"> </td>
	      		<td ng-bind="rec.age"> </td>
	      		<td ng-bind="rec.company"> </td>
	      	</tr>
	      </table>

	      <h2><i>custom filter</i></h2>
	      <input type="text" name="txtsearch" ng-model="txtNameSearch" placeholder="Search name">
	      <table border="1" style="margin: 10px">
	      	<tr style="background-color: #ccc">
	      		<th> Sr#</th>
	      		<th ng-click="sortByMe('name')"> Name</th>
	      		<th ng-click="sortByMe('age')"> Age</th>
	      		<th ng-click="sortByMe('company')"> Organization</th>
	      	</tr>
	      	<tr ng-repeat="rec in records | custFilter:txtNameSearch	" ng-class-odd="odd" ng-class-even="even">
	      		<td ng-bind="$index +1"> </td>
	      		<td ng-bind="rec.name"> </td>
	      		<td ng-bind="rec.age"> </td>
	      		<td ng-bind="rec.company"> </td>
	      	</tr>
	      </table>
    </body>
    <script src="scripts/angular.min.js"></script>
    <script type="text/javascript">
    	var myApp = angular.module('myApp', []);

		myApp.controller('myCtrl', ['$scope','$filter', function($scope, $filter) {
				    $scope.records = [	{name : "Ujjwal Kumar", age : 35, company : "FIS"}, 
									    {name : "Swapnil Joshi", age : 34, company : "FIS"}, 
									    {name : "Shivraj Pachling", age : 36, company : "FIS"},
									    {name : "Sandeep Vaid", age : 33, company : "WMH"},
									    {name : "Sandeep Pandit", age : 34, company : "CTS"},
									    {name : "Shekahr Dhupkar", age : 33, company : "TCS"},
									    {name : "Vijay Kulkarni", age : 35, company : "HSBC"}
									  ];
					$scope.sortByMe = function(key){
						$scope.records= $filter('orderBy')($scope.records, key);
					}
		
				}]);  

		myApp.filter('custFilter', function(){
			return function(input, name){
				var output =[];

				if(!!name){
					name = name.toLowerCase();
					for (var i=0; i<input.length; i++){
						if(input[i].name.toLowerCase().indexOf(name)!== -1)
						{
							output.push(input[i]);
						}
					}
				}else{
					output = input;
				}
				return output;
			}
		});
    </script>
    
</html>