<!doctype html>
<html ng-app="myApp">

    <head>
        <title> Angular - filter examples</title>
	    <script src="../scripts/angular.min.js"></script>
        <style>
			body {
			    font-family: "Segoe UI",Arial,sans-serif;
			}
			.header{
				background-color: #ccc;
			}
			.odd{
				background-color: #fff;
			}
			.even{
				background-color: #ececec;
			}
			.odd:hover,.even:hover{
				background-color: #ccc;
			}
			table{
				border-collapse: collapse;
				word-spacing: 5px;
				border: 1px solid #ccc;
			}
        </style>
    </head>
    <body ng-controller="myCtrl">
    	<h1>Nested table</h1>
        <div>

			<h2><i>ng-repeat-start and ng-repeat-end</i></h2>

			<h2><i></i></h2>
			<table border="1" style="margin: 10px; width: 900px">
				<thead>
					<tr class="header">
						<th>
							<button type="button" ng-click="expandAll(allExpanded = !allExpanded)">
								<span ng-bind="allExpanded ? '-' : '+'"></span>
							</button>
							</th>
						<th>Name</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
						<th>ZIP Code</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="dealer in dealers" ng-class-odd="odd" ng-class-even="even">
						<td align="center"><button type="button" ng-click="expanded = !expanded" expand>
							<span ng-bind="expanded? '-':'+'"></span>
						</button></td>
						<td ng-bind="dealer['Dealer Name']"></td>
						<td ng-bind="dealer.Address"></td>
						<td ng-bind="dealer.City"></td>
						<td ng-bind="dealer.State"></td>
						<td ng-bind="dealer['ZIP Code']"></td>
					</tr>
					<tr ng-repeat-end ng-show="expanded">
						<td></td>
						<td colspan="6">
							<table  border="1" style="width: 90%">
								<thead>
									<th>Brand</th>
									<th style="width:15%">Product I</th>
									<th style="width:15%">Product II</th>
									<th style="width:15%">Product III</th>
									<th style="width:15%">Product IV</th>
									<th style="width:15%">Product V</th>
								</thead>
								<tbody>
									<tr ng-repeat="brand in dealer.Brands">
										<td ng-bind="brand.Brand"></td>
										<td ng-bind="brand['Product I']" align="center"> </td>
										<td ng-bind="brand['Product II']" align="center"> </td>
										<td ng-bind="brand['Product III']" align="center"> </td>
										<td ng-bind="brand['Product IV']" align="center"> </td>
										<td ng-bind="brand['Product V']" align="center"> </td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

    <script src="app.js"></script>
    
</html>